@charset "utf-8";

@import "../parts/common";


.cont-tourist { 
    padding-top: 20px;
    text-align: center;
    
    .tab-cont-list {
        .common {
            
            //속초8경/고성8경 소개
            &.view-cont {
                text-align: center;
                .view-area {
                    padding-top: 20px;
                    .tit {
                        .thColor {
                            color: #165681;
                        }
                        .big {
                            display: block;
                            margin-top: 5px;
                            font-size: 36px;
                            letter-spacing: -1px;
                        }
                    }
                    .p-1 {
                        margin-top: 10px;
                        font-size: 18px;
                        line-height: 1.4;
                    }
                    .view-map {
                        position: relative;
                        box-sizing: border-box;
                        overflow: hidden;
                        width: 100%; 
                        margin: 30px auto;
                        img {
                            position: relative;
                            border: 1px solid #a29fa0;
                            border-radius: 15px;
                        }
                        &.type-2 {
                            img {
                                border: 0;
                            }
                            
                        }
                    }
                    .area {
                        margin-top: 40px;
                        .list {
                            margin-top: 28px;
                            .link-tour {
                                float: left; 
                                overflow: hidden;
                                width: 24.2%;
                                margin-left: 1%;
                                &:first-child {
                                    margin-left: 0;
                                }
                                .tour-img {
                                    box-sizing: border-box;
                                    img {

                                    }
                                }
                                dl {
                                    margin-top: 15px;
                                    letter-spacing: -1.1px;
                                    dt {
                                        margin-bottom: 0px;
                                        padding-bottom: 10px;
                                        h4 {
                                            padding-top: 1px;
                                            font-size: 20px;
                                            font-weight: bold;
                                            color: #000;
                                            .num {
                                                position: relative;
                                                display: inline-block;
                                                width: 32px; 
                                                height: 32px;
                                                top: -1px;
                                                font-weight: 400;
                                                line-height: 32px;
                                                color: #fff;
                                                vertical-align: middle;
                                                border-radius: 50%;
                                                background: #1d5e87;
                                            }
                                        }
                                    }
                                    dd {
                                        //overflow: hidden;
                                        font-size: 15px;
                                        text-align: left;
                                        //text-overflow: ellipsis;
                                        word-break: keep-all;
                                        //white-space: nowrap;
                                    }
                                }
                            }

                            & + .list {
                                margin-top: 35px;
                            }
                        }
                    }
                    
                    & + .view-area {
                        margin-top: 60px;
                        padding-top: 50px;
                        border-top: 1px solid #b8b8b8;
                    }
                }
            }
            
            //주변관광지 안내
            &.tist-cont {
                .area {
                    padding-top: 27px;
                    .h3-tit {
                        position: relative;
                        margin: 12px 0;
                        font-size: 24px;
                        line-height: 1;
                        * {
                            vertical-align: top;
                        }
                        &:before {
                            content: '';
                            display: inline-block;
                            width: 8px;
                            height: 24px;
                            margin-right: 7px;
                            vertical-align: middle;
                            background: #c0c0c0;
                        }
                    }
                    .list {
                        li {
                            float: left; 
                            overflow: hidden;
                            width: 24%; 
                            margin-left: 1.3%; 
                            &:first-child {
                                margin-left: 0;
                            }
                            &.link-tour {
                                cursor: pointer;
                            }
                            .tour-img {
                                position: relative;
                                box-sizing: border-box;
                                width: 100%;
                                border: 1px solid #a19e9f; 
                                img {
                                    position: relative;
                                }
                            }
                            dl {
                                margin-top: 10px; 
                                letter-spacing: -0.9px;
                                dt {
                                    overflow: hidden;
                                    margin-bottom: 10px;
                                    padding-bottom: 10px; 
                                    font-size: 14px;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    border-bottom: 1px solid #c8c8c8;
                                    h4{ 
                                        font-size: 20px;
                                        font-weight: bold;
                                        color: #008ead;
                                    }
                                }
                                dd {
                                    font-size: 15px;
                                    line-height: 1.5;
                                    letter-spacing: -1.3px;
                                    color: #4c4c4c;
                                    word-break: keep-all;
                                }
                            }
                        }
                        & + .list {
                            margin-top: 13px;
                        }
                    }
                }
            }
        }
    }
}


.ie8 {
    .cont-tourist { 

        .tab-cont-list {
            .common {

                //주변관광지 안내
                &.tist-cont {
                    .area {
                        .list {
                            li {
                                dl {
                                    dt { 
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}