@@include('../include/_head.html', {
	"page": "facil"
})

	<!--페이지 전용 Css & Script-->
	
</head>
<body class="Facil">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents">
		<div class="cont-subVisual">
			<h2 class="group">
				<span class="row"><span class="dot-l"></span><strong>부대시설</strong></span>
				<span class="row s-1">YEONHO RESORT &amp; CONDO</span>
			</h2>
		</div>
		<!--//.cont-subVisual-->
		
		<section class="cf cont-facil">
			<h3 class="skip">부대시설 안내</h3>
			<div class="group facil-area">
				<div class="half left">
					<figure><img src="http://design.autopay.co.kr/joon/yeonhoresort/img/facil/facil_1.jpg" alt="한식당 사진"></figure>
					<div class="row">
						<dl>
							<dt>로비카페<span class="s-1">CAFETERIA</span></dt>
							<dd>
								<span class="row">위치 : 1층 로비에 위치</span>
								<span class="row">투숙객 자유이용 가능</span>
							</dd>
						</dl>
					</div>
				</div>
				<div class="half right">
					<figure><img src="http://design.autopay.co.kr/joon/yeonhoresort/img/facil/facil_2.jpg" alt="수퍼마켓 사진"></figure>
					<div class="row">
						<dl>
							<dt>자판기<span class="s-1">VENDOR</span></dt>
							<dd>
								<span class="row">위치 : 1층 로비에 위치</span>
								<span class="row">투숙객 자유이용 가능</span>
							</dd>
						</dl>
					</div>
				</div>
				<div class="half left">
					<figure><img src="http://design.autopay.co.kr/joon/yeonhoresort/img/facil/facil_4.jpg" alt="야외가든 사진"></figure>
					<div class="row">
						<dl>
							<dt>프론트<span class="s-1">FRONT</span></dt>
							<dd>
								<span class="row">위치 : 1층 로비에 위치</span>
								<span class="row">24시간 상시운영</span>
							</dd>
						</dl>
					</div>
				</div>
				<div class="half right">
					<figure><img src="http://design.autopay.co.kr/joon/yeonhoresort/img/facil/facil_3.jpg" alt="로비 사진"></figure>
					<div class="row">
						<dl>
							<dt>로비<span class="s-1">LOBBY</span></dt>
							<dd>
								<span class="row">위치: 1층 전층</span>
								<span class="row">프론트 및 화장실, 엘리베이터 등의 기타시설</span>
							</dd>
						</dl>
					</div>
				</div>
			</div>
		</section>
		<!-- //.cont-facil -->
		
	</div>
	<!--//.contents-->    

	@@include('../include/_footer.html') 
</div>

</body>
</html>