@@include('../include/_head.html', {
	"page": "about"
})

	<!--페이지 전용 Css & Script-->
	
</head>
<body class="About">

<div class="wrapper">
	@@include('../include/_header.html')
	
	<div class="contents">
		<div class="cont-subVisual">
			<h2 class="group">
				<span class="row"><span class="dot-l"></span><strong>콘도소개</strong></span>
				<span class="row s-1">YEONHO RESORT &amp; CONDO</span>
			</h2>
		</div>
		<!--//.cont-subVisual-->
		
		<section class="cf cont-intro">
			<h3 class="group"><strong>연호리조트 소개</strong> <span class="s-1"><span class="dot-l">ㅣ</span> OVERVIEW</span></h3>
			<div class="group intro-area">
				<div class="split left">
					<figure class="fullDiv"><img src="http://design.autopay.co.kr/joon/yeonhoresort/img/about/overview_1.jpg" alt="연호리조트 전경사진"></figure>
					<figure class="half pr"><img src="http://design.autopay.co.kr/joon/yeonhoresort/img/about/overview_2.jpg" alt="프론트 사진"></figure>
					<figure class="half pl"><img src="http://design.autopay.co.kr/joon/yeonhoresort/img/about/overview_3.jpg" alt="룸 사진"></figure>
				</div>
				<div class="split right">
					<p class="p-1">
						설악산과 동해바다를 내 품안에!<br>
						자연의 비경이 함께하는 연호리조트입니다.
					</p>
					<p class="p-2">
						연호리조트는 척산온천지구 아래 설악산 마지막 자락에 <br>
						자리잡고 있습니다. 속초 시내에서는 더 가깝고, 손에 닿을듯 <br>
						주위가 온통 자연 그대로 있어서 별장처럼 한적하고 <br>
						아늑한 휴식공간을 느끼실 수 있습니다.<br>
						아름다운 설악의 풍광은 물론 동해 바다의 비경을 모두 함께<br>
						만나보시기 바랍니다.
					</p>
					<p class="p-3">
						※ 시설규모<br>
						- 총 119개 객실<br>
						- 83㎡ (25평) / 165㎡ (50평)
					</p>
					<p class="p-3">
						※ 부대시설<br>
						- 로비 카페, 세미나실<br>
						- 로비 자판기 등
					</p>
				</div>
			</div>
		</section>
		<!--//.cont-intro-->
		
		<section class="cf cont-location">
			<h3 class="group"><strong>오시는 길</strong> <span class="s-1"><span class="dot-l">ㅣ</span> ON THE WAY</span></h3>
			<figure class="group map"><img src="http://design.autopay.co.kr/joon/yeonhoresort/img/about/map.jpg" alt="위치 지도"></figure>
			<div class="group info">
				<h4 class="row">
					<strong>교통편 안내</strong><span class="s-1">승용차 이용시 - <span class="fg">'연호리조트'네비게이션 검색</span></span>
					<span class="pull-right link">
						<a href="http://naver.me/xrEN3qYq" target="_blank"><img src="http://design.autopay.co.kr/joon/koresco-chiak/img/about/btn_mapNaver.jpg" alt="네이버지도보기"></a>
						<a href="http://dmaps.kr/eehsn" target="_blank"><img src="http://design.autopay.co.kr/joon/koresco-chiak/img/about/btn_mapDaum.jpg" alt="다음지도보기"></a>
					</span>
				</h4>
				<p class="row p-1">
					<span class="s-h">▶고속버스이용</span>
					<span class="s-d">
						서울고속버스터미널 / 서울남부터미널 → 속초고속버스터미널 (7, 7→1, 101→1 버스) → 경동대 후문 정류장 하차 후 도보이동 800m (2시간 20분 소요)
					</span>
					<span class="s-d">
						서울동서울종합터미널 → 속초시외버스터미널 하차 → 한화(척산)(30→3)(수복탑) → 경동대후문 정류장 하차 후 도보이동 800m (2시간 20분 소요)
					</span>
					<span class="s-d">
                        대전복합터미널 → 속초시외버스터미널 → 한화(척산)(30→3)(수복탑) → 경동대후문 정류장 하차 후 도보이동 800m (4시간 소요)
					</span>
					<span class="s-d">
                        대구 동대구터미널 / 대구북부시외버스터미널 → 속초시외버스터미널 하차 → 한화(척산)(30→3)(수복탑) → 경동대후문 정류장 하차 후 도보이동 800m<br>(5시간 소요)
					</span>
					<span class="s-d">
                        부산종합버스터미널 → 속초시외버스터미널 하차 → 한화(척산)(30→3)(수복탑) → 경동대후문 정류장 하차 후 도보이동 800m (6시간 소요)
					</span>
					<span class="s-d">
                        광주종합버스터미널 → 속초시외버스터미널 하차 → 한화(척산)(30→3)(수복탑) → 경동대후문 정류장 하차 후 도보이동 800m (5시간 30분 소요)
					</span>
				</p>
				<p class="row p-1">
					<span class="s-h">▶승용차 이용</span>
					<span class="s-d">
						서울 → 올림픽대로 → 서울양양고속도로 → 동해고속도로 → 양양IC → 연호리조트 (2시간 소요)
					</span>
					<span class="s-d">
                        대전 → 중부고속도로 → 영동고속도로 → 중앙고속도로 → 서울양양고속도로 → 동해고속도로 → 양양IC → 연호리조트 (3시간 20분 소요)
					</span>
					<span class="s-d">
                        대구 → 중앙고속도로 → 설악로 → 서울양양고속도로 → 동해고속도로 → 양양IC → 연호리조트 (3시간 30분 소요)
					</span>
					<span class="s-d">
                        부산 → 경부고속도로 → 동해대로 → 동해고속도로 → 양양IC → 연호리조트 (4시간 30분 소요)
					</span>
					<span class="s-d">
                        광주 → 호남고속도로 → 논산천안고속도로 → 경부고속도로 → 서울양양고속도로 → 동해고속도로 → 양양IC → 연호리조트 (4시간 30분 소요)
					</span>
				</p>
			</div>
		</section>
		<!--//.cont-location-->
	</div>
	<!--//.contents-->    

	@@include('../include/_footer.html') 
</div>

</body>
</html>