@charset "utf-8";

// common
@import "../parts/common";

.cont-tourist { 
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    
    .tab-cont-list {
        padding: 0 10px;
        .common {
            
            //속초8경/고성8경 소개
            &.view-cont {
                text-align: center;
                .view-area {
                    padding-top: 8px;
                    .thColor {
                        color: #1d5e87;
                    }
                    .tit {
                        .big {
                            display: block;
                            margin-top: 5px;
                            font-size: 18px;
                            letter-spacing: -1px;
                        }
                    }
                    .p-1 {
                        margin: 8px 0 12px;
                        font-size: 13px;
                        text-align: center;
                        word-break: keep-all;
                    }
                    .view-map {
                        position: relative;
                        box-sizing: border-box;
                        overflow: hidden;
                        width: 100%; 
                        margin: 10px auto;
                        img {
                            position: relative;
                            box-sizing: border-box;
                            border: 1px solid #a29fa0;
                            border-radius: 13px;
                        }
                        &.type-2 {
                            margin-top: 0;
                            img {
                                border: 0;
                                border-radius: 0;
                            }
                            
                        }
                    }
                    .area {
                        .list {
                            margin-top: 15px;
                            .link-tour {
                                float: left; 
                                overflow: hidden;
                                width: 48.6%;
                                &:nth-child(2n) {
                                    margin-left: 1.2%;
                                }
                                &:nth-child(2n-1) {
                                    margin-right: 1.2%;
                                }
                                .tour-img {
                                    box-sizing: border-box;
                                    img {

                                    }
                                }
                                dl {
                                    padding: 8px 0 10px;
                                    letter-spacing: -1px;
                                    dt {
                                        margin-bottom: 0px;
                                        padding-bottom: 5px;
                                        h4 {
                                            padding-top: 1px;
                                            font-size: 14px;
                                            font-weight: bold;
                                            color: #000;
                                            .num {
                                                position: relative;
                                                display: inline-block;
                                                width: 18px; 
                                                height: 18px;
                                                font-size: 13px;
                                                font-weight: 400;
                                                line-height: 18px;
                                                color: #fff;
                                                vertical-align: middle;
                                                border-radius: 50%;
                                                background: #1d5e87;
                                            }
                                        }
                                    }
                                    dd {
                                        //overflow: hidden;
                                        min-height: 65px;
                                        font-size: 12px;
                                        text-align: left;
                                        //text-overflow: ellipsis;
                                        word-break: keep-all;
                                        //white-space: nowrap;
                                    }
                                }
                            }

                            & + .list {
                                margin-top: 0;
                            }
                        }
                    }
                    
                    & + .view-area {
                        margin-top: 10px;
                        padding-top: 12px;
                        border-top: 1px solid #b8b8b8;
                    }
                    
                }
            }
            
            //주변관광지 안내
            &.tist-cont {
                .area {
                    .h3-tit {
                        position: relative;
                        margin: 15px 0 0;
                        font-size: 15px;
                        line-height: 1;
                        * {
                            vertical-align: top;
                        }
                        &:before {
                            content: '';
                            display: inline-block;
                            width: 5px;
                            height: 14px;
                            margin-right: 4px;
                            vertical-align: middle;
                            background: #c0c0c0;
                        }
                    }
                    
                    .list {
                        li {
                            float: left; 
                            overflow: hidden;
                            width: 48.6%; 
                            margin-top: 15px;
                            margin-left: 2.4%; 
                            &:first-child, &:nth-child(2) {
                                margin-top: 5px;
                            }
                            &:nth-child(2n-1) {
                                margin-left: 0;
                            }
                            .tour-img {
                                position: relative;
                                box-sizing: border-box;
                                width: 100%;
                                border: 1px solid #a19e9f; 
                                img {
                                    position: relative;
                                    width: 100%;
                                }
                            }
                            dl {
                                margin-top: 7px; 
                                letter-spacing: -0.9px;
                                dt {
                                    overflow: hidden;
                                    margin-bottom: 7px;
                                    padding-bottom: 5px;
                                    font-size: 12px;
                                    text-overflow: ellipsis;
                                    white-space: nowrap; 
                                    border-bottom: 1px solid #c8c8c8;
                                    h4{ 
                                        font-size: 14px;
                                        font-weight: bold;
                                        color: #008ead;
                                    }
                                }
                                dd {
                                    min-height: 50px;
                                    font-size: 12px;
                                    line-height: 1.4;
                                    //letter-spacing: -1.3px;
                                    color: #4c4c4c;
                                    word-break: keep-all;
                                }
                            }
                        }
                        
                        & + .list {
                            margin-top: 5px;
                        }
                    }
                }
            }
            
        }
    }
    
}


@media (max-device-width: 320px) {

    .cont-tourist { 
        .tab-cont-list {
            .common {
                //속초8경/고성8경 소개
                &.view-cont {
                    .view-area {
                        .area {
                            .list {
                                .link-tour {
                                    dl {
                                        dd {
                                            min-height: 80px;
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
                
            }
        }
    }
}