<header class="header">
	<div class="group cont-header">
		<h1 class="logo"><a href="../main/index.html"><img src="http://img.eonhoresort.co.kr/common/logo.png" alt="연호리조트 로고"> <span class="skip">연호리조트</span></a></h1>
		<nav class="gnb">
			<ul class="menu cf">
			    <!-- 각 해당 페이지 li에 on 추가 -->
				<li class="item item-1 fst on"><a href="../about/">콘도 소개</a></li>
				<li class="item item-2"><a href="../gallery/">객실안내</a></li>
				<li class="item item-2"><a href="../facil/">부대시설</a></li>
				<li class="item item-3"><a href="../event/">주변관광</a></li>
				<li class="item item-3"><a href="../tourist/">이벤트/축제</a></li>
				<li class="item item-4"><a href="../group/">단체문의</a></li>
				<!-- 190305 장단기메뉴 -->
				<li class="item item-5 lst"><a href="../lodgment/">장기/단기숙박</a></li>
				<li class="item li-evt"><a href="javascript:;" class="btn-evt" id="faq-a">무료숙박이벤트 안내</a></li>
			</ul>
		</nav>
		<div class="bk-menu">
            <a href="#none" class="btn-bk">예약하기</a>
		    <ul class="bk-list">
                <li class="item item-1 fst"><a href="../booking/">객실예약</a></li>
                <li class="item item-2"><a href="../booking/booking_confirm.html">예약확인</a></li>
                <li class="item item-3"><a href="#none">단체예약</a></li>
                <!-- 190305 장단기메뉴 -->
                <li class="item item-4"><a href="../lodgment/">장/단기 예약</a></li>
		    </ul>
		</div>
	</div>
</header>
<!--//.header-->


<!-- ss배너 추가 -->
<div style="" class="rWing">
    <!-- 단체문의페이지에서만 등장 -->
    <!--<a href="javascript:;" onclick="javascript:faq_move();">
        <img src="http://design.autopay.co.kr/sds/namwon/img/common/bn_group_02.png" alt="단체견적문의하기">
    </a>-->
    <!-- 예약페이지를 제외한 전 페이지에서 등장 -->
   <!-- <a href="../booking/">
        <img src="http://design.autopay.co.kr/sds/namwon/img/common/bn_group_01.png" alt="객실예약하러가기">
    </a>-->
</div>
