@charset "utf-8";

// bourbon 믹스인
@import "../bourbon/bourbon";
// Scss 변수(Variables: $)
@import "./variables";
// Scss 반복문(loop)
@import "./loop";
// Scss 믹스인(Mixins)
@import "./mixins";

/*공통스타일*/
%centerThis {
	width: 1000px;
	margin: 0 auto;
}
%clearfix {
	&::after {
		content: "";
		display: block;
		clear: both;
		*zoom: 1;
	}
}
%va-middle {
	display: inline-block;
	vertical-align: middle;
}
%split {
	position: relative;
	float: left;
}