@charset "utf-8";

// reset
//@import "reset";

@import "./parts/common";

/*@import url(http://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://static.go.co.kr/css/faq_m-v1.1.css);*/


/*----------------------------------------------------------------------*/
/*  해더  */
.header {
    .cont-header {
        .logo {
            width: 80px;
            line-height: 46px;
        }

        .btn-evtFaq {
            color: $fg-nav-evt;
            border-color: $fg-nav-evt !important;

            .icon-i {
                background: $fg-nav-evt;
            }
        }

        .gnb {
            .menu {
                >li.item-0 {
                    background: $bg-btn-main;

                    .logo-menu {
                        width: 80px;
                    }
                }

                .rArrow:after {
                    border-color: $bg-btn-main;
                }
            }
        }
    }
}

/*공통*/
.contents {

    /*서브비쥬얼 */
    .cont-subVisual {
        background: url(http://img.eonhoresort.co.kr/m/common/subVisual.jpg) no-repeat center / cover;
    }

    /* tab */
    .tab-list {
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        width: 72%;

        .tab {
            float: left;
            width: 50%;

            a {
                display: block;
                //width: 135px;
                width: 100%;
                font-size: 13px;
                font-weight: bold;
                line-height: 26px;
                letter-spacing: -1px;
                color: #018f9c;
                border: 1px solid #00a4b3;
                background: #fff;
            }

            &:first-child {
                a {
                    border-radius: 18px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            &.lst {
                a {
                    border-radius: 18px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }

            &.on {
                a {
                    color: #fff;
                    background: #00a4b3;
                }
            }
        }
    }

    /* tab cont */
    .tab-cont-list {
        .common {
            display: none;
            max-width: 1000px;
            margin: 0 auto;
            text-align: left;

            &.on {
                display: block;
            }
        }
    }
}

/* rwing배너 */
.rWing {
    z-index: 2;
    position: fixed;
    width: 70px;
    margin-top: 13px;
    right: 7px;

    a {
        position: relative;
        display: block;

        img {}
    }
}

.footer .split .logo-f {
    width: 80px !important;
}

@media (max-device-width: 320px) {

    /*공통*/
    .contents {

        /* tab */
        .tab-list {
            .tab {
                a {
                    font-size: 12px;
                }

            }
        }
    }

}